<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show</title>
  </head>
  <body>
    <h1>Showing</h1>
    <h3><%= site.title %></h3>
    <h3><%= site.location %></h3>

    <footer>
      <p>
        <a href="/heritages/<%= site._id %>/edit">Edit site</a>
      </p>
      <a href="/heritages">All sites</a>
    </footer>
  </body>
</html>
